<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta lang="fr">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Page Sportif !</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<header>
			
		</header>
		<main>
			<section>
				<article>
					<p>
						<img src="../static/images/enzolefort.png" width="288" height="344">LEFORT Enzo <br>
						<img src="../static/images/FRA.webp" width="76" height="44">France<br>
						<img src="../static/images/logoescrime.png" width="44" height="44">Escrime<br>
						   Date de Naissance :  29sept. 1991<br>
						   Âge :  33<br>
						   Sexe :  Homme<br>
						   Fonction :  Athlète
					</p>
				</article>
				<nav>
					<ul>
						<li><a>Biographie du sportif</a> </li>
						<li><a>Épreuves et médailles</a></li>
						<li><a>Programme</a></li>
						<li><a>Palmarès</a></li>
						<li><a>En Savoir Plus</a></li>
					</ul>
				</nav>
			</section>
			<section>
				<h2>Biographie du Sportif</h2>
				<div>
					<article>
						<h3>DES CARAÏBES À L'EUROPE</h3>
						<p>
							Il est né en Guyane française, une région d'outre-mer de la France située dans les Caraïbes, de parents originaires de la Guadeloupe. La famille s'est installée à Gourbeyre, en<br> 
							Guadeloupe, lorsqu'il avait trois ans. Adolescent talentueux, il s'est vu offrir la possibilité de rejoindre la France métropolitaine pour intégrer le pôle national d'entraînement (Pole France) à<br>	 
							Chatenay-Malabry. En 2010, il a intégré l'Institut national du sport, de l'expertise et de la performance (INSEP) à Paris.
						</p>
					</article>
					<article>
						<h3>AUTRES ACTIVITÉS</h3>
						<p>
							Il intègre l'armée de l'air française dans le cadre du programme « Armée de champions » destiné aux sportifs de haut niveau.
						</p>
					</article>
					<article>
						<h3>PHOTOGRAPHIE</h3>
						<p>
							Se passionne pour la photographie après avoir rencontré de nombreux photographes et producteurs au cours de sa carrière. En 2020, il publie un livre - Behind the Mask - qui porte sur<br>
							la diversité de l'équipe de France d'escrime. «  Ce projet est né de l'envie de faire un hommage à la diversité qu'il y a au sein de l'équipe. Depuis que je l'ai rejointe, j'ai été entourée de<br>
							personnes d'origines différentes. Et grandir à côté de ces personnes m'a permis de me sensibiliser à des cultures et des points de vue différents. Je ne serais pas l'homme que je suis <br>
							aujourd'hui si je n'avais pas connu cette diversité. La photographie m'aide à exprimer mon côté créatif en dehors de l'escrime. (myInfo)
						</p>
					</article>
					<article>
						<h3>MÉDIA</h3>
						<p>
							Outre son travail de photographe, il a publié deux bandes dessinées manga intitulées « Enzo » en 2022, dans lesquelles il raconte sa vie. Il anime un podcast intitulé « Le Rebond », dans<br>
							lequel il s'entretient avec des athlètes qui ont relevé des défis.<br>
							Il est né en Guyane française, une région d'outre-mer de la France située dans les Caraïbes, de parents originaires de la Guadeloupe. La famille s'est installée à Gourbeyre, en <br>
							Guadeloupe, lorsqu'il avait trois ans. Adolescent talentueux, il s'est vu offrir la possibilité de rejoindre la France métropolitaine pour intégrer le pôle national d'entraînement (Pole France) à<br>
							Chatenay-Malabry. En 2010, il a intégré l'Institut national du sport, de l'expertise et de la performance (INSEP) à Paris.
						</p>
					</article>
				</div>
			</section>
			<section>
				<h2>ÉPREUVES ET MÉDAILLES</h2>
				<article>
					<table>
						<caption>Discipline</caption>
						<tr>
							<th>Discipline</th>
							<th>Epreuve</th>
							<th>Place</th>
							<th>Médaille</th>
						</tr>
						<tr>
							<td><img>Escrime</th>
							<td>Fleuret par équipes - hommes</td>
							<td>3</td>
							<td><img src="../static/images/medailleBronze.png" width="20" ></td>
						</tr>
						<tr>
							<td><img>Escrime</th>
							<td>Fleuret individuel - hommes</td>
							<td>6</td>
						</tr>
					</table>
				</article>
			</section>
			<section>
				<h2>Programme</h2>
				<article>
					<table>
						<tr>
							<th>Heure de début</th>
							<th>Lieu</th>
							<th>Discipline</th>
							<th colspan="2">Épreuve</th>
							<th>Score</th>
						</tr>
						<tr>
							<td>29 juil. 12:05</td>
							<td>GrandPalais - Piste Jaune</td>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret individuel hommes, tableau de 32</td>
							<td>Yi-Tung VS LEFORT Enzo</td>
							<td>12 - 15</td>
						</tr>
						<tr>
							<td>29 juil. 14:55</td>
							<td>GrandPalais - Piste Jaune</td>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret individuel hommes, tableau de 16</td>
							<td>MEINHARDT Gerek VS LEFORT Enzo</td>
							<td>10 - 15</td>
						</tr>
						<tr>
							<td>29 juil. 16:02</td>
							<td>GrandPalais - Piste Jaune </th>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret individuel hommes, tableau de 8</th>
							<td>CHEUNG Ka Long VS LEFORT Enzo</th>
							<td>15 - 14</td>
						</tr>
						<tr>
							<td>4 août 11:50</th>
							<td>GrandPalais - Piste Jaune </th>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret par équipes hommes, tableau de 8</td>
							<td>CHINE VS France</td>
							<td>35 - 45</td>
						</tr>
						<tr>
							<td>4 août 14:50</td>
							<td>GrandPalais - Piste Bleu</td>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret par équipes hommes, demi-finale 1</td>
							<td>Japon VS France</td>
							<td>45 - 37</td>
						</tr>
						<tr>
							<td>4 août 19:02</td>
							<td>GrandPalais - Piste Podium</td>
							<td><img src="../static/images/logoescrime.png" width="44" height="44">Escrime</td>
							<td>Fleuret par équipes hommes, bronze match</td>
							<td>USA VS France</td>
							<td>32 - 45</td>
						</tr>
					</table>
				</article>
			</section>
			<section>
				<h2>Palmarès Sportif</h2>
				<article>
					<table>
						<caption>JEUX OLYMPIQUES</caption>
						<tr>
							<th>RANK</th>
							<th>Evénement</th>
							<th>Année</th>
							<th>Lieu</th>
						</tr>
						<tr>
							<td>1</td>
							<td>Fleuret par équipes hommes</td>
							<td>2021</td>
							<td>Tokyo, JPN</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Fleuret par équipes hommes</td>
							<td>2016</td>
							<td>Rio de Janeiro, BRA</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Fleuret par individuel hommes</td>
							<td>2021</td>
							<td>Tokyo, JPN</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Fleuret par équipes hommes</td>
							<td>2012</td>
							<td>London, GBR</td>
						</tr>
						<tr>
							<td>22</td>
							<td>Fleuret individuel hommes</td>
							<td>2012</td>
							<td>London, GBR</td>
						</tr>
						<tr>
							<td>24</td>
							<td>Fleuret individuel hommes</td>
							<td>2016</td>
							<td>Rio de Janeiro, BRA</td>
						</tr>
					</table>
				</article>
				<article>
					<table>
						<caption>Championnats du Monde</caption>
						<tr>
							<th>RANK</th>
							<th>Evénement</th>
							<th>Année</th>
							<th>Lieu</th>
						</tr>
						<tr>
							<td>1</td>
							<td>Fleuret par équipes hommes</td>
							<td>2022</td>
							<td>Le Caire , EGY</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Fleuret par équipes hommes</td>
							<td>2019</td>
							<td>Budapest , HUN</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Fleuret par équipes hommes</td>
							<td>2014</td>
							<td>Kazan , RUS</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Fleuret par équipes hommes</td>
							<td>2019</td>
							<td>Budapest , HUN</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Fleuret individuel hommes</td>
							<td>2023</td>
							<td>Milan , ITA</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Fleuret par équipes hommes</td>
							<td>2022</td>
							<td>Le Caire , EGY</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Fleuret par équipes hommes</td>
							<td>2017</td>
							<td>Leipzig , GER</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Fleuret individuel hommes</td>
							<td>2014</td>
							<td>Kazan , RUS</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Fleuret par équipes hommes</td>
							<td>2013</td>
							<td>Budapest , HUN</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Fleuret par équipes hommes</td>
							<td>2015</td>
							<td>Moscow , RUS</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Fleuret par équipes hommes</td>
							<td>2018</td>
							<td>Wuxi , CHN</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Fleuret équipes hommes</td>
							<td>2023</td>
							<td>Milan , ITA</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Fleuret individuel hommes</td>
							<td>2018</td>
							<td>Wuxi , CHN</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Fleuret individuel hommes</td>
							<td>2017</td>
							<td>Leipzig , GER</td>
						</tr>
						<tr>
							<td>19</td>
							<td>Fleuret individuel hommes</td>
							<td>2019</td>
							<td>Moscow , RUS</td>
						</tr>
					</table>
				</article>
			</section>
			<section>
				<h2>En Savoir Plus </h2>
				<div>
					<article>
						<h4>Hobbies</h4>
						<p>La photographie , la mode et les comics </p>
					</article>
					<article>
						<h4>Famille</h4>
						<p>Femme : Kitesy</p>
					</article>
					<article>
						<h4>Ambitions</h4>
						<p>Remporter l'or individuel et par équipe aux Jeux olympiques de 2024 à Paris et participer aux Jeux olympiques de 2028 à Los Angeles.</p>
					</article>
					<article>
						<h4>Souvenir le plus fort</h4>
						<p>Sa victoire en équipe lors des JO Tokyo 2021</p>
					</article>
					<article>
						<h4>Son parcours scolaire</h4>
						<p>Études de kinésiologie à l'École nationale de kinésithérapie et de rééducation (ENKRE) de Saint-Maurice (FRA).</p>
					</article>
					<article>
						<h4>Surnom</h4>
						<p>ZOZO</p>
					</article>
					<article>
						<h4>Ces occupations</h4>
						<p>Athletisme et La Photographie</p>
					</article>
					<article>
						<h4>Langues parlées </h4>
						<p>Français et Anglais</p>
					</article>
					<article>
						<h4>Le nom de son club</h4>
						<p>Cercle d’Escrime Melun Val de Seine (Paris, France).</p>
					</article>
					<article>
						<h4>Son coach</h4>
						<p>Nationales : Emeric Clos (France)</p>
					</article>
					<article>
						<h4>Main</h4>
						<p>Droitier</p>
					</article>
					<article>
						<h4>Blessures</h4>
						<p>
							Juin 2022 : blessure au mollet, manque les championnats d'Europe à Antalya, Turquie.<br>
							2012 : Blessure au genou gauche.
						</p>
					</article>
					<article>
						<h4>Débuts</h4>
						<p>Commence l'escrime à l'âge de cinq ans à Basse-Terre, en Guadeloupe</p>
					</article>
					<article>
						<h4>Raison</h4>
						<p>
							Il a été inspiré en regardant à la télévision l'escrimeuse française Laura Flessel-Colovic aux Jeux olympiques d'Atlanta en 1996.<br>
							« Le fleuret me convient, car l'objectif et la priorité sont d'attaquer. C'est plus vivant, et je suis plus une escrimeuse active que<br> 
							tactique, donc c'est une arme qui me convient »
						</p>
					</article>
				</div>
			</section>
		</main>
		<footer>
			
		</footer>
	</body>
</html>