body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    background-color: #33ac91;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 52px;
    width: 1234px;
}

article{
    background-color: #ffffff;
    border-radius: 30px;
    width: 1053px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section > article{
    margin-top: 10px;
    margin-bottom: 10px;
}
section > article:first-child{
    background-color: #33ac91;
}
h2{
    padding-top: 52;
    font-size: 36px;
}
section:nth-child(2) > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 

}
section:nth-child(2) > div > article{
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
}
section:nth-child(2) > div > article> h3{
    text-align: center;
    font-weight: normal;
} 
section:nth-child(2) > div > article> p{
    text-align: center;
}
section:nth-child(6) > div{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px; 
}
section:nth-child(6) > div > article{
    width: 100%;
    max-width: 250px;
    margin: 0;
    padding: 0;
}

section:nth-child(6) > div > article> h4{
    text-align: center;
    font-weight: normal;
} 
section:nth-child(6) > div > article> p{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    padding-top: 2em;
    padding-bottom: 2.5em;
    padding-left: 3em;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer > nav {
    border-left: 1px solid #ffffff;
    margin-left: 3em;
    padding-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer a:visited, footer a:hover {
    color: white;
}

footer a{
    text-decoration: none;
}

footer ul {
    list-style: none;
    line-height: 2em;
}

footer ul:nth-child(2){
    padding-left: 5em;
}