<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta lang="fr">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Page Sportif !</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<header>
			
		</header>
		<main>
			<section>
				<img src="">
				<p>
					LEFORT Enzo <br>
					<img>France<br>
					<img>Escrime<br>
		   			Date de Naissance :  29sept. 1991<br>
		   			Âge :  33<br>
		   			Sexe :  Homme<br>
		   			Fonction :  Athlète
				</p>
				<nav>
					<ul>
						
					</ul>
				</nav>
			</section>
			<section>
				<article>

				</article>
				<article>

				</article>
				<article>
					
				</article>
				<article>
					
				</article>
				<article>
					
				</article>
				<article>
					
				</article>
				<article>
					
				</article>
				<article>
					
				</article>
			</section>
			<section>
				<article>
					<table>

					</table>
				</article>
			</section>
			<section>
				<article>
					<table>

					</table>
				</article>
			</section>
			<section>
				<article>
					<table>

					</table>
				</article>
				<article>
					<table>

					</table>
				</article>
				<article>
					<table>

					</table>
				</article>
			</section>
			<section>
				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>

				<article>
					
				</article>
			</section>
		</main>
		<footer>
			
		</footer>
	</body>
</html>