@media (min-width: 1440px) and (min-height: 1024px) {
    main {
        margin: 3em 8em;
    }

    /*-----HEADER-----*/

    header {
        background-color: #3CDB8C;
        background-image: url(images/Capture\ d’écran_2025-01-13_17-00-15.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 2em 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header>nav>ul {
        list-style: none;
        display: flex;
        gap: 2em;
        padding-right: 5em;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
    }


    /* PAGE DISCIPLINE */
    
    .logo-container {
        display: flex;
        align-items: center;
        /* Aligne verticalement */
        justify-content: center;
        /* Centre horizontalement */
        margin-bottom: 5em;
    }

    .logo-container img {
        width: 150px;
        height: auto;
        margin-right: 10px;
        display: block;
        /* Espace entre l'image et le texte */
    }

    .logo-container h1 {
        font-family: Arial, sans-serif;
        /* Remplacez par une police si besoin */
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        /* Supprime les marges par défaut */
    }

    /* Pour les joueurs d'escrimes*/
    .discipline > h2+section {
        background-color: #33ac91;
        padding: 2em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .discipline > h2+section article {
        display: flex;
        flex-direction: column;
        /* Pour aligner les éléments verticalement */
        align-items: center;
        /* Centre les éléments horizontalement */
        justify-content: center;
        /* Centre les éléments verticalement */
        text-align: center;
        /* Centre le texte à l'intérieur de l'article */
        width: 25%;
    }



    .discipline > h2+section > article > figure > figcaption {
        font-size: 1.5em;
    }

    .table-container > article>h2 {
        font-size: 3em;
        display: block;
    }


    /* TABLEAU */

    .table-container > table {
        float: left;
        background-color: #3CDB8C;
        border-collapse: collapse;
        border-radius: 30px;
        border-top-left-radius: 0;
        /* Supprime les espaces entre les bordures */
        width: 70%;
        /* Largeur du tableau */
    }

    .table-container > table > caption {
        background-color: #3CDB8C;
        width: 70%;
        font-weight: bold;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        /* Rend le texte en gras */
        font-size: 3.5em;
        /* Définit la taille du texte à 3 fois la taille de police par défaut */
        text-align: center;
        /* Centre le texte horizontalement (optionnel) */
        /* Ajoute un espace entre le caption et le tableau */
    }

    .table-container table tr {
        font-size: 2.25em;
    }

    .table-container table tr td img {
        margin-right: 1.5em;
        /* Crée un espace entre l'image et le texte */
        vertical-align: middle;
        /* Assure que l'image et le texte sont alignés au centre verticalement */
    }

    .table-container table tr td {
        font-size: 1em;
        text-align: center;
        /* Centre horizontalement */
        vertical-align: middle;
        /* Centre verticalement */
        padding: 10px;
        /* Ajoute de l'espace autour du texte */
    }

    .table-container table tr td:first-child {
        width: 40%;
        text-align: left;
        vertical-align: middle;
        /* Le premier <td> de chaque <tr> prend 40% de la largeur du tableau */
    }

    .table-container {
        display: flex;
        justify-content: space-between;
        /* Espace entre les éléments */
        align-items: flex-start;
        /* Aligner en haut */
    }

    /* fin du tableau */

    p {
        text-align: justify;
    }

    /*pour la demande de s'inscrire a la FFE*/
    .discipline > div>article+article {
        margin-top: 8em;
        margin-left: 4em;
        display: flex;
        flex-direction: column;
        /* Pour aligner les éléments verticalement */
        align-items: center;
    }



    .discipline > h2 {
        font-size: 3.5em;
    }

    /* pour aller aux sous categorie de l'escrime */
    .table-container > aside {
        width: 18%;
        /* Largeur de l'aside */
        border-radius: 30px;
        padding-right: 1em;
        padding-left: 1em;
        background-color: #33ac91;
        float: right;
        /* Place l'aside à droite */
        margin-left: 10px;
        /* Ajoute un petit espace entre le tableau et l'aside */
        font-size: 1em;
    }

    .table-container aside nav ul {
        list-style: none;
    }

    .table-container aside nav ul li a,
    .table-container aside nav ul li p {
        font-size: 2em;
    }

    .table-container aside nav ul li p {
        padding-left: 1em;
    }

    .discipline section article div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 1em;
        margin-bottom: 3em;
    }

    .discipline section article div p {
        font-size: 2em;
    }

    .discipline section article h3 {
        font-size: 3em;
        display: block;
    }

    .table-container aside nav h3 {
        font-size: 3em;
        display: block;
    }

    .table-container article p {
        font-size: 2em;
        align-content: center;
    }


    .table-container article {
        margin-right: 10em;
    }
    /*sportif médaillé */

    .discipline section {
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
    }

    .discipline section article {
        position: relative;
        width: 100%;
        margin: 15px;
        transition: all 0.3s ease-in-out;
    }

    .discipline section article figure {
        margin: 0;
    }

    .discipline section article img {
        max-width: 70%;
        transition: all 0.7s ease-in-out;
    }

    .discipline section article span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.5s ease, left 0.5s ease;
        width: 70%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }

    .discipline section article:hover figure img {
        transform: scale(1.2);
        /* L'image prend plus de place */
        width: 100%;
    }

    .discipline section article:hover span {
        opacity: 1;
        left: 70%;
        top: 15%;
        font-size: 2em;

        /* Paragraphe apparaîtra à droite */
    }

    .discipline section article figure figcaption {
        font-size: 5em;
    }

    .discipline section article:hover figcaption {
        display: none;
    }

    /*-----FOOTER-----*/

    footer {
        background-color: black;
        color: #ffffff;
        padding-top: 2em;
        padding-bottom: 2.5em;

        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
    }

    footer>img {
        padding-left: 3em;
    }

    footer>nav {
        border-left: 1px solid #ffffff;
        margin-left: 3em;
        padding-left: 2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer a:hover {
        color: lightgray;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    footer ul {
        list-style: none;
        line-height: 2em;
    }

    footer ul:nth-child(2) {
        padding-left: 5em;
    }

    footer div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        height: 50%;
    }
}





@media (max-width: 1439px) and (max-height: 1023px) {
    main {
        margin: 3em 8em;
    }

    /*-----HEADER-----*/

    header {
        background-color: #3CDB8C;
        background-image: url(images/Capture\ d’écran_2025-01-13_17-00-15.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 2em 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header>nav>ul {
        list-style: none;
        display: flex;
        gap: 2em;
        padding-right: 5em;
    }

    header a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
    }


    img {
        display: none;
    }

    /*Logo du début + Titre Escrime*/
    .logo-container {
        display: flex;
        align-items: center;
        /* Aligne verticalement */
        justify-content: center;
        /* Centre horizontalement */
        margin-bottom: 3.5em;
    }

    .logo-container img {
        width: 150px;
        height: auto;
        margin-right: 10px;
        display: block;
        /* Espace entre l'image et le texte */
    }

    .logo-container h1 {
        font-family: Arial, sans-serif;
        /* Remplacez par une police si besoin */
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        /* Supprime les marges par défaut */
    }

    /* Pour les joueurs d'escrimes*/
    .discipline > h2+section {
        background-color: #33ac91;
        padding: 2em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .discipline > h2+section article  {
        display: flex;
        flex-direction: column;
        /* Pour aligner les éléments verticalement */
        align-items: center;
        /* Centre les éléments horizontalement */
        justify-content: center;
        /* Centre les éléments verticalement */
        text-align: center;
        /* Centre le texte à l'intérieur de l'article */
        width: 25%;
        /* Ou une autre largeur si nécessaire */
    }



    .discipline > h2+section > article > figure > figcaption {
        font-size: 1.5em;
    }

    .table-container > article>h2 {
        font-size: 3em;
        display: block;
    }


    /* TABLEAU */

    .table-container > table {
        float: left;
        background-color: #3CDB8C;
        border-collapse: collapse;
        border-radius: 30px;
        border-top-left-radius: 0;
        /* Supprime les espaces entre les bordures */
        width: 70%;
        /* Largeur du tableau */
    }

    .table-container > table > caption {
        background-color: #3CDB8C;
        width: 70%;
        font-weight: bold;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        /* Rend le texte en gras */
        font-size: 3em;
        /* Définit la taille du texte à 3 fois la taille de police par défaut */
        text-align: center;
        /* Centre le texte horizontalement (optionnel) */
        /* Ajoute un espace entre le caption et le tableau */
    }

    .table-container table tr {
        font-size: 1.5em;
    }

    .table-container table tr td img {
        margin-right: 0.6em;
        /* Crée un espace entre l'image et le texte */
        vertical-align: middle;
        /* Assure que l'image et le texte sont alignés au centre verticalement */
        display: inline;
        width: 2em;
        height: auto;
    }

    .table-container table tr td {
        font-size: 1em;
        text-align: center;
        /* Centre horizontalement */
        vertical-align: middle;
        /* Centre verticalement */
        padding: 10px;
        /* Ajoute de l'espace autour du texte */
    }

    .table-container table tr td:first-child {
        width: 40%;
        text-align: left;
        vertical-align: middle;
        /* Le premier <td> de chaque <tr> prend 40% de la largeur du tableau */
    }

    .table-container {
        display: flex;
        justify-content: space-between;
        /* Espace entre les éléments */
        align-items: flex-start;
        /* Aligner en haut */
    }

    /* fin du tableau */

    p {
        text-align: justify;
    }

    /*pour la demande de s'inscrire a la FFE*/
    .discipline > div>article+article {
        margin-top: 8em;
        margin-left: 4em;
        display: flex;
        flex-direction: column;
        /* Pour aligner les éléments verticalement */
        align-items: center;
    }



    .discipline > h2 {
        font-size: 3.5em;
    }

    /* pour aller aux sous categorie de l'escrime */
    .table-container > aside {
        width: 18%;
        /* Largeur de l'aside */
        border-radius: 30px;
        padding-right: 1em;
        padding-left: 1em;
        background-color: #33ac91;
        float: right;
        /* Place l'aside à droite */
        margin-left: 10px;
        /* Ajoute un petit espace entre le tableau et l'aside */
        font-size: 0.60em;
    }

    .table-container aside nav ul {
        list-style: none;
    }

    .table-container aside nav ul li a,
    .table-container aside nav ul li p {
        font-size: 2em;
    }

    .table-container aside nav ul li p {
        padding-left: 1em;
    }
    .table-container aside nav h3 {
        font-size: 3em;
    }

    .discipline section article div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 1em;
        margin-bottom: 3em;
    }

    .discipline section article div p {
        font-size: 1.25em;
    }

    .discipline section article h3 {
        font-size: 3em;
        display: block;
    }

    /*article du pictogramme*/
    .table-container>article {
        display: none;
    }

    /* image de la FIE*/
    .table-container article a>img {
        display: block;
        width: 33em;
        height: auto;
    }

    .table-container article>p {
        font-size: 2em;
        align-content: center;
    }

    /*sportif médaillé */

    .discipline section {
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
    }

    .discipline section article {
        position: relative;
        width: 100%;
        margin: 15px;
        transition: all 0.3s ease-in-out;
    }

    .discipline section article figure {
        margin: 0;
    }

    .discipline section article figure img {
        display: block;
        max-width: 70%;
        transition: all 0.7s ease-in-out;
    }

    .discipline section figure+img {
        display: block;
        width: 7em;
        height: auto;
    }

    .discipline section article span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.5s ease, left 0.5s ease;
        width: 70%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }

    .discipline section article:hover figure img {
        transform: scale(1.2);
        /* L'image prend plus de place */
        width: 100%;
    }

    .discipline section article:hover span {
        opacity: 1;
        left: 70%;
        top: 15%;
        font-size: 1.25em;

        /* Paragraphe apparaîtra à droite */
    }

    .discipline section article:hover figcaption {
        display: none;
    }

    /*-----FOOTER-----*/

    footer {
        background-color: black;
        color: #ffffff;
        padding-top: 2em;
        padding-bottom: 2.5em;

        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
    }

    footer>img {
        padding-left: 3em;
        display: block;
    }

    footer>nav {
        border-left: 1px solid #ffffff;
        margin-left: 3em;
        padding-left: 2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer a:hover {
        color: lightgray;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    footer ul {
        list-style: none;
        line-height: 2em;
    }

    footer ul:nth-child(2) {
        padding-left: 5em;
    }

    footer div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        height: 50%;
    }

    li>a>img {
        display: block;
        width: 1em;
        height: auto;
    }
}