body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

header{
    background-color: #3CDB8C;
}

main{
    margin: 0 30px;
    padding: 10px 25px;
    background-color: #ffffff;
}

p{
    text-justify: auto;
}

main > section:nth-child(3){
    background-color: #3CDB8C;
}







/*-----FOOTER-----*/

footer{
    background-color: black;
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2.5em;
    
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

footer > img {
    padding-left: 3em;
}

footer > nav {
    border-left: 1px solid #ffffff;
    margin-left: 3em;
    padding-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer a:visited, footer a:hover {
    color: white;
}

footer a{
    text-decoration: none;
}

footer ul {
    list-style: none;
    line-height: 2em;
}

footer ul:nth-child(2){
    padding-left: 5em;
}

.reseau{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 50%;
}