body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}


main{
    margin: 0 30px;
    padding: 10px 25px;
    background-color: #ffffff;
}

p{
    text-justify: auto;
}

/*-----HEADER-----*/

header{
    background-color: #3CDB8C;
    background-image: url(images/Capture\ d’écran_2025-01-13_17-00-15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2em 2em;
    display: flex;
    justify-content: left;
    align-items: center;
}

header > nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50em;
}

header > nav > ul{
    list-style: none;
    display: flex;
    gap: 2em;
    padding-left: 5em;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

/*-----TABLE-----*/
table{
    background-color: #3CDB8C;
}

/* Styles généraux pour la section */
.TabMedailles {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #2eaf8f;
    padding: 30px;
    border-radius: 20px;
}

/* Style du titre Podium */
caption {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-size: 2em;
    font-weight: bold;
    color: black;
}

/* Styles pour la table */
table {
    width: 100%;
    background-color: #3CDB8C;
    border-radius: 15px;
    padding: 20px;
    border-spacing: 0;
    border-collapse: separate;
}

/* Styles pour les cellules */
td {
    padding: 10px;
    display: inline-block;
    color: black;
    font-size: 1.2em;
}

/* Style pour le code du pays */
td:nth-child(3) {
    font-weight: bold;
    font-size: 1.4em;
}

/* Style pour le nom du joueur */
td:nth-child(4) {
    font-weight: bold;
    font-size: 1.4em;
}

/* Alignement des images */
td img {
    vertical-align: middle;
    display: block;
}

/* Style pour les lignes */
tr {
    background-color: white;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
}

/* Espacement entre les lignes */
tr + tr {
    margin-top: 15px;
}

/*-----FOOTER-----*/

footer{
    background-color: black;
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2.5em;
    
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

footer > img {
    padding-left: 3em;
}

footer > nav {
    border-left: 1px solid #ffffff;
    margin-left: 3em;
    padding-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer a:hover {
    color: lightgray;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;
    line-height: 2em;
}

footer ul:nth-child(2){
    padding-left: 5em;
}

footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 50%;
}