body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 100px;
    text-decoration: underline;
}

img {
    object-fit: cover;
    border-radius: 20px ;
}

/*-----HEADER-----*/

header {
    background-color: #3CDB8C;
    background-image: url(images/Capture\ d’écran_2025-01-13_17-00-15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2em 2em;
    display: flex;
    justify-content: left;
    align-items: center;
}

header>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50em;
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2em;
    padding-left: 5em;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

/*-----MAIN-----*/

section {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.Sites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 20px;
}

.Sites figcaption, .Sites h2, .Sites h3, .Sites p {
    color: white;
}

.Sites p {
    margin: 10px;
}

.Sites figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Sites img {
    margin-right: 20px;
}

.Sports {
    background-color: #3CDB8C;
    border-radius: 20px;
}

.Sports img {
    width: 320px;
    height: auto;
}

.Paralympiques {
    display: flex;
    flex-direction: column;
    background-color: #33AC91;
    border-radius: 20px;
}

.Paralympiques img {
    margin: 40px;
    width: 460px;
    height: auto;
}

.Paralympiques figcaption {
    margin-left: 40px;
}

.Partenaire img {
    width: 550px;
    height: auto;
}

/*-----FOOTER-----*/

footer {
    background-color: black;
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2.5em;

    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

footer>img {
    padding-left: 3em;
}

footer>nav {
    border-left: 1px solid #ffffff;
    margin-left: 3em;
    padding-left: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer a:hover {
    color: lightgray;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;
    line-height: 2em;
}

footer ul:nth-child(2) {
    padding-left: 5em;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 50%;
}